@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.dark-map-tiles {
  filter: var(--leaflet-tile-filter, none);
}

.leaflet-container {
  background: #000000;
}